In [8]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install seaborn
%pip install scikit-learn

Requirement already satisfied: pandas in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (2.2.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.23.2 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\diogenes monegro\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: numpy in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (1.26.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: matplotlib in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.26.0)
Requirement already satisfied: packaging>=20.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diogenes monegro\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: seaborn in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (0.13.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (1.26.0)
Requirement already satisfied: pandas>=1.2 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.0.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\diogenes monegro\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (1.5.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy>=1.19.5 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.26.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.11.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\diogenes monegro\appdata\local\programs\python\python311\lib\site-packages (from scikit-learn) (3.2.0)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [9]:
import pandas as pd

# Load the data
df_main = pd.read_csv("../datasets/life_expectancy_dataset.csv", delimiter=";")

# General Information
print(df_main.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13545 entries, 0 to 13544
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country_code           13545 non-null  object
 1   country_name           13545 non-null  object
 2   region                 13545 non-null  object
 3   sub-region             13545 non-null  object
 4   intermediate-region    5670 non-null   object
 5   year                   13545 non-null  int64
 6   life_expectancy_women  13545 non-null  object
 7   life_expectancy_men    13545 non-null  object
dtypes: int64(1), object(7)
memory usage: 846.7+ KB
None

In [10]:
# Display the many examples of life expectancy

df_sample = df_main.sample(10)
display(df_sample)

,country_code,country_name,region,sub-region,intermediate-region,year,life_expectancy_women,life_expectancy_men
11349,SEN,SENEGAL,AFRICA,SUB-SAHARAN AFRICA,WESTERN AFRICA,1969,"40,59","40,31"
4635,GHA,GHANA,AFRICA,SUB-SAHARAN AFRICA,WESTERN AFRICA,1996,"57,92","55,72"
5630,IDN,INDONESIA,ASIA,SOUTH-EASTERN ASIA,NaN,1983,"62,05","58,56"
2938,CRI,COSTA RICA,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,CENTRAL AMERICA,2000,"80,04","75,25"
2456,CHN,CHINA,ASIA,EASTERN ASIA,NaN,2022,"81,34","75,96"
9670,PRY,PARAGUAY,AMERICAS,LATIN AMERICA AND THE CARIBBEAN,SOUTH AMERICA,1991,"70,08","66,35"
6263,SLB,ISLAS SALOMÓN,OCEANIA,MELANESIA,NaN,1986,"66,93","61,41"
1826,BGR,BULGARIA,EUROPE,EASTERN EUROPE,NaN,2022,"78,10","70,80"
12532,TGO,TOGO,AFRICA,SUB-SAHARAN AFRICA,WESTERN AFRICA,2018,"60,65","59,83"
2175,CMR,CAMERÚN,AFRICA,SUB-SAHARAN AFRICA,MIDDLE AFRICA,1993,"55,53","52,58"

In [11]:
# delete many columns
cols = ["sub-region", "intermediate-region"]
df_main = df_main.drop(cols, axis=1)

# Display columns
print(df_main.columns)

Index(['country_code', 'country_name', 'region', 'year',
       'life_expectancy_women', 'life_expectancy_men'],
      dtype='object')