In [ ]:
%pip install pandas
%pip install numpy
%pip install matplotlib
%pip install seaborn
%pip install scikit-learn
%pip install skimpy

# Import Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from skimpy import skim

# Get data

In [ ]:
df = pd.read_csv("../datasets/salary.csv")

In [ ]:
skim(df)

In [ ]:
df.isnull().sum()
df.dropna(inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
np.random.seed(43)
df.sample(10)

In [ ]:
df.columns = df.columns.str.lower()
df.columns

In [ ]:
df['unit'].value_counts()

In [ ]:
df["designation"].value_counts()

In [ ]:
df["sex"].value_counts()

In [ ]:
# calculate the mean salary for each unit
df_unit_by_salary = df.groupby('unit')['salary'].agg(['mean', 'median', 'std', 'min', 'max'])

for col in df_unit_by_salary.columns:
    sns.barplot(x=df_unit_by_salary.index, y=df_unit_by_salary[col])
    plt.title(col)
    plt.show()

In [ ]:


df_designation_by_salary = df.groupby('designation')['salary'].agg(['mean', 'median', 'std', 'min', 'max']).reset_index()


# show graph each designatio with stats with grapn unique